@{
    ViewData["Title"] = "How to Play";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome to the How to Play page!</p>
<img src="~/img/Tutorial/Tutorial.png" width="1000" alt="">
<br/>
<img src="~/img/Tutorial/hands.jpg" width="800" alt="">

