@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">POKER GAME</h1>
    <!--
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
    <img src="img/poker.png"/>
    <div>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("StartGame","Home")'">START GAME!</button>
    </div>
    
</div>
