@{
    ViewData["Title"] = "Single Player Game";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="game-container">
        <div class="row">
            <div class="player-container container" id="opponent">
                <div class="col-md-3 money block" id="opponent">
                    <div class="btn-secondary btn-lg" id="opponentCash">CASH: $0</div>
                </div>
                <div class="col-md-3 hand block" id="opponent">
                    <h3 id="opponent-msg"></h3>
                    <div class="cards">
                        <img class="card" id="o-one" src="../img/cards/back.png" />
                        <img class="card" id="o-two" src="../img/cards/back.png" />
                    </div>
                </div>
                <div class="col-md-3 choice block" id="opponent">
                    <div class="row">
                        <div class="col">
                            <div class="btn-success btn-lg">BET: 1000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shared-container">
            <div class="cards">
                <img class="card" id="s-one" src="../img/cards/back.png" />
                <img class="card" id="s-two" src="../img/cards/back.png" />
                <img class="card" id="s-three" src="../img/cards/back.png" />
                <img class="card" id="s-four" src="../img/cards/back.png" />
                <img class="card" id="s-five" src="../img/cards/back.png" />
            </div>
            <button type="button" class="btn btn-info btn-lg" id="next-page">POT: $1000</button>
        </div>
        <div class="row">
            <div class="player-container container" id="player">
                <div class="col-md-3 money block" id="player">
                    <div class="btn-primary btn-lg" id="playerCash">CASH: $0</div>
                </div>
                <div class="col-md-3 hand block" id="player">
                    <h3 id="player-msg"></h3>
                    <div class="cards">
                        <img class="card" id="p-one" src="../img/cards/back.png" />
                        <img class="card" id="p-two" src="../img/cards/back.png" />
                    </div>
                </div>
                <div class="col-md-3 row choices block" id="player">
                    <div class="row bet block">
                        <div class="col">
                            <input type="number" class="form-control" id="player-bet" value="100" min="100" step="50" />
                        </div>
                        <div class="col">
                            <div type="button" class="btn btn-success btn-lg player-button" id="bet">BET</div>
                            <div type="button" class="btn btn-danger btn-lg player-button" id="fold">FOLD</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="module" src="../js/startgame.js"></script>