@{
    ViewData["Title"] = "You won!";
}

<div class="text-center">
    <img id="win-img" src="../img/fireworks.png"/>
    <h1>@ViewData["Title"]</h1>
    <h1>Login to track your wins!</h1>
    
</div>