html {
  font-size: 14px;
}

body {
  background-color: forestgreen;
}

h1 {
  color:white;
}

button {
  padding: 5px;
}

.game-container {
  background-color: darkgreen;
}

.block {
  display: inline-block;
}

.player-container #player {
  transform: translateX(33%);
}

#card {
  margin: 10px;
  width: 60px;
  height: 90px
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  color: whitesmoke;
  width: 100%;
  height: 10%;
  background-color: #22768b;
  
}

#footer_link:link, #footer_link:visited {
  color: lightblue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#footer_link:hover, #footer_link:active {
  color: #3dd5f3;
}